html {
  box-sizing: border-box;
  font-size: 15px;
  
  @media (max-width: 800px) {
    font-size: 14px;
  }

  @media (max-width: 450px) {
    font-size: 12px;
  }
}

*:before, *:after {
  box-sizing: inherit;
}

