.daily-chart {
  max-width: 600px;
  width: 100%;
  margin: auto;
  
  canvas {
    margin: 0 auto;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
    width: 100%;
  }
  
}
