.entry-row {
    &:nth-child(even) {
      background-color: #F1F1F1;
    }
   [class^="entry-row-cell"] {
    font-weight: 100;
    padding: .5em;
    text-align: center;
    max-width: 500px;
    white-space: no-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    border-bottom: 1px solid #CCC;

    &:first-of-type {
      min-width: 3em;
    }

    &:last-of-type {
      padding: 0;
      border: none;
      background-color: white;

      svg {
        color: #ccc;
        height: 2em;
        width: 2em;
        transition: all 300ms ease-out;
        cursor: pointer;

        &:hover {
          color: $grey;
        }
     }
    }

    button {
        border: none;
        background: none;
        margin: 0;
        padding: 0;
      }
  }

   @each $colourName, $value in $colourMap {
    .entry-row-cell-#{$colourName} {
      svg {
        color: $value;
        height: 1.8em;
        width: 1.8em;
      }
    }
  }
}