.roundButton {
  -webkit-appearance: none;
  border-radius: 2em;
  padding: .5em;
  background: none;
  border: 3px solid #705BFF;
  transition: all 300ms ease-out;
  color: #705BFF;
  height: 40px;
  width: 180px;
  outline: none;

  &:hover,
  &:focus {
    color: white;
    background-color: #705BFF;
  }
}